@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.main {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(135deg, #33ccff, #ff99cc);
    background-position: center;
    background-size: cover;
}

.profile-card {
    display: flex;
    position: fixed;
    flex-direction: column;
    align-items: center;
    max-width: 600px;
    width: 100%;
    border-radius: 25px;
    padding: 65px;
    border: 1px solid #ffffff40;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.4);
}

.image {
    position: relative;
    height: 150px;
    width: 150px;
}

.image .profile-pic {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.4);
}

.data {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 15px;
}

.data h2 {
    font-size: 40px;
    font-weight: 600;
    position: relative;
}

.datapost {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    margin-top: 30px;
}

.datapost h2 {
    font-size: 40px;
    font-weight: 700;
    position: relative;
}

.list {
    display: flex;
    flex-direction: column;
    margin-bottom: 20%;
    margin-right: 90%;
}

.list h2 {
    font-size: 50px;
    font-weight: 700;
    position: relative;
}

span {
    font-size: 18px;
}

.row {
    display: flex;
    align-items: center;
    margin-top: 30px;
}

.row .info {
    text-align: center;
    padding: 0 30px;
}

.buttons {
    display: flex;
    align-items: center;
    margin-top: 40px;
}

.buttons .btn {
    color: #fff;
    text-decoration: none;
    margin: 0 30px;
    padding: 8px 30px;
    border-radius: 25px;
    font-size: 19px;
    white-space: nowrap;
    background: linear-gradient(to left, #33ccff 0%, #ff99cc 100%);
}

.buttons .btn:hover {
    box-shadow: inset 0 5px 20px rgba(0, 0, 0, 0.4);
}

.buttonset {
    display: flex;
    position: relative;
    left: 38%;
    margin-bottom: 48%;
}

.buttonset .btn {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
    padding: 8px 25px;
    border-radius: 8px;
    font-size: 18px;
    white-space: nowrap;
    background: linear-gradient(to left, #33ccff 0%, #ff99cc 100%);
}

.buttonset .btn1 {
    color: #fff;
    text-decoration: none;
    margin: 0 5px;
    padding: 8px 25px;
    border-radius: 8px;
    font-size: 18px;
    white-space: nowrap;

}

.buttonset .btn:hover {
    box-shadow: inset 0 5px 20px rgba(0, 0, 0, 0.4);
}

.buttonlist {
    display: flex;
    position: relative;
    left: 85%;
    margin-bottom: 48%;
}

.buttonlist .btn {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
    padding: 8px 25px;
    border-radius: 8px;
    font-size: 18px;
    white-space: nowrap;
    background: linear-gradient(to left, #33ccff 0%, #ff99cc 100%);
}

.buttonlist .btn1 {
    color: #fff;
    text-decoration: none;
    margin: 0 5px;
    padding: 8px 25px;
    border-radius: 8px;
    font-size: 18px;
    white-space: nowrap;

}

.buttonlist .btn:hover {
    box-shadow: inset 0 5px 20px rgba(0, 0, 0, 0.4);
}

form .gender-details .gender-title {
    font-size: 20px;
    font-weight: 500;
}

form .category {
    display: flex;
    width: 80%;
    margin: 14px 0;
    justify-content: space-between;
}

form .category label {
    display: flex;
    align-items: center;
    cursor: pointer;
}

form .category label .dot {
    height: 18px;
    width: 18px;
    border-radius: 50%;
    margin-right: 10px;
    background: #d9d9d9;
    border: 5px solid transparent;
    transition: all 0.3s ease;
}

#dot-1:checked~.category label .one,
#dot-2:checked~.category label .two,
#dot-3:checked~.category label .three {
    background: #9b59b6;
    border-color: #d9d9d9;
}

form input[type="radio"] {
    display: none;
}