<!DOCTYPE html>
<!-- Created By CodingNepal - www.codingnepalweb.com -->
<html lang="en" dir="ltr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!------<title> Website Layout | CodingLab</title>------>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css')}}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" />
</head>

<body>
    <nav>
        <div class="menu">
            <div class="logo">
                <a href="#">Wishlist</a>
    </nav>
    <div class="img"></div>
    <div class="center">
        <div class="title">Создай вишлист на любое событие</div>
        <div class="sub_title">и поделись им с друзьями</div>
        <div class="btns">
            <button><a href="register" class="btns button:first-child">Регистрация</a></button>
            <button><a href="login" class="btns button:first-child">Вход</a></button>
        </div>
    </div>
</body>

</html>