<!DOCTYPE html>
<!---Coding By CoderGirl!--->
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!--<title> Profle Card UI Design | CoderGirl </title>-->
    <!---Custom Css File!--->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/profile.css')}}">
</head>

<body>
    <section class="main">
        {% if current_user.is_authenticated and current_user.id == user_id %}
        <div class="buttonlist">
            <a href="/post" class="btn">Добавить желание</a>
        </div>
        <div class="buttonlist">
            <a href="/profile" class="btn1">Вернуться</a>
        </div>
        {% elif current_user.is_authenticated and current_user.id != user_id %}
        <div class="buttonlist">
            <a href="/post" class="btn">nfjdo</a>
        </div>
        <div class="buttonlist">
            <a href="/profile" class="btn1">Вернуться</a>
        </div>
        {% else %}
        <div class="buttonlist">
            <a href="/register" class="btn">Регистрация</a>
        </div>
        <div class="buttonlist">
            <a href="/login" class="btn1">Войти</a>
        </div>
        {% endif %}
        <div class="list">
            {%for p in form %}
            <h3><a href="/showpost/{{ p.id }}">{{ p.title }}</a></h3>
            {% if p.id in book %}
            <h4>Забронирован</h4>
            {% else %}
            {% endif %}
            {% endfor %}
        </div>
    </section>
</body>

</html>