<!DOCTYPE html>
<!-- Created By CodingLab - www.codinglabweb.com -->
<html>

<head>
    <meta charset="UTF-8">
    <!---<title> Responsive Registration Form | CodingLab </title>--->
    <link type='text/css' href="{{ url_for('static', filename='css/style.css')}}" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <div class="container">
        <div class="title">Настройки аккаунта</div>
        <div class="content">
            <form action="#" method="post" enctype="multipart/form-data">
                <div class="user-details">
                    <button><input type='file' name='img' id='file-input' multiple></button>
                    <div class="input-box">
                        <span class="details">Название</span>
                        <input type="text" name="title">
                    </div>
                    <div class="input-box">
                        <span class="details">Цена</span>
                        <input type="text" name="price">
                    </div>
                    <div class="input-box">
                        <span class="details">Ссылка</span>
                        <input type="url" name="url">
                    </div>
                    <div class="input-box">
                        <span class="details">Комментарий</span>
                        <input type="text" name="comment">
                    </div>
                    <div class="button">
                        <input type="submit">
                        <a href="profile"> </a>
                    </div>
            </form>
        </div>
    </div>

</body>

</html>