<!DOCTYPE html>
<!-- Created By CodingLab - www.codinglabweb.com -->
<html>

<head>
    <meta charset="UTF-8">
    <!---<title> Responsive Registration Form | CodingLab </title>--->
    <link type='text/css' href="{{ url_for('static', filename='css/style.css')}}" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <div class="container">
        <div class="title">Настройки аккаунта</div>
        <div class="content">
            <form action="#" method="post" enctype="multipart/form-data">
                <div class="user-details">
                    <button><input type='file' name='img' id='file-input' multiple></button>
                    <div class="input-box">
                        <span class="details">Имя</span>
                        <input type="text" name="firstname">
                    </div>
                    <div class="input-box">
                        <span class="details">Фамилия</span>
                        <input type="text" name="lastname">
                    </div>
                    <div class="input-box">
                        <span class="details">День рождения</span>
                        <input type="text" name="birthdate">
                    </div>
                    <div class="button">
                        <input type="submit">
                        <a href="profile/{{ current_user.id }}"></a>
                    </div>
            </form>
        </div>
    </div>

</body>

</html>