<!DOCTYPE html>
<!-- Created By CodingLab - www.codinglabweb.com -->
<html>

<head>
    <meta charset="UTF-8">
    <!---<title> Responsive Registration Form | CodingLab </title>--->
    <link type='text/css' href="{{ url_for('static', filename='css/style.css')}}" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <div class="container">
        <div class="title">Регистрация</div>
        <div class="content">
            <form action="#" method="post" enctype="multipart/form-data">
                {{ form.hidden_tag() }}
                <div class="user-details">
                    <button><input type='file' name='img' id='file-input' multiple></button>
                    <div class="input-box">
                        <span class="details">Username</span>
                        {{ form.username }}
                    </div>
                    <div class="input-box">
                        <span class="details">Email</span>
                        {{ form.email }}
                    </div>
                    <div class="input-box">
                        <span class="details">Имя</span>
                        {{ form.firstname }}
                    </div>
                    <div class="input-box">
                        <span class="details">Фамилия</span>
                        {{ form.lastname }}
                    </div>
                    <div class="input-box">
                        <span class="details">День рождения</span>
                        {{ form.birthdate }}
                    </div>
                    <div class="input-box">
                        <span class="details">Пароль</span>
                        {{ form.psw }}
                    </div>
                    <div class="input-box">
                        <span class="details">Повтор пароля</span>
                        {{ form.psw2 }}
                    </div>
                </div>
                <div class="button">
                    {{ form.submit }}
                </div>
                <div class="button">
                    <a href="/login" class="btn">Войти</a>
                </div>
            </form>
        </div>
    </div>

</body>

</html>