<!DOCTYPE html>
<!---Coding By CoderGirl!--->
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!--<title> Profle Card UI Design | CoderGirl </title>-->
    <!---Custom Css File!--->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/profile.css')}}">
</head>

<body>
    <section class="main">
        <div class="buttonset">
            <a href="/post/update" class="btn">Настройки</a>
        </div>
        <div class="buttonset">
            <a href="/profile" class="btn1">Выйти</a>
        </div>
        <div class="profile-card">
            <div class="image">
                <img src="data:(image);base64,{{ image }}" />
            </div>
            <div class="datapost">
                <h2>{{ form.title }}</h2>
                <h3>{{ form.price }}</h3>
                <h3><a href="{{ form.url }}">{{ form.url }}</a></h3>
                <h3>{{ form.comment }}</h3>
            </div>
            <div class="buttons">
                <a href="#" class="btn">Удалить</a>
                <a href="/post" class="btn">создать желание</a>
            </div>
        </div>
    </section>
</body>

</html>